@charset "utf-8";
/* CSS Document */
body{background:#fff;}
.banner{width:100%; height:300px;}
.box{width:100%; height:52px; background:#000;}
.banner h2{ color:#b89f7a; text-align:center; font:12px/56px Microsoft YaHei;}
.banner p:nth-child(2){ font:36px/44px Microsoft YaHei; color:#525252; text-align:center; margin-bottom:30px;}
.banner p:last-child{font:16px/32px Microsoft YaHei; color:#707070; text-align:center;}      
.main{width:1025px; margin:80px auto;}
.main h2{height:100px; background:url(../images/pic_06.gif) no-repeat center bottom; font:22px/100px Microsoft YaHei; text-align:center; color:#525252; margin-bottom:35px; padding-top:30px;}
.main .left{float:left; width:465px; margin-right:90px;}
.main .right{float:left;  width:465px;}
.main span{color:#292929; font:16px/30px Microsoft YaHei; font-weight:bold; margin-bottom:17px; display:block;}
.main p{ font:12px/24px Microsoft YaHei; color:#707070; margin-bottom:13px;}