@charset "utf-8";
/* CSS Document */
.banner_top{ width:1424px; height:712px; margin:0 auto; background:url(../images/Xmas_sub_02.gif) no-repeat center top;}
.banner_center{ width:1424px; height:1115px; margin:0 auto; background:url(../images/Xmas_sub_04.gif) no-repeat center top;}
.banner_bottom{ width:1424px; height:812px; margin:0 auto; background:url(../images/Xmas_sub_05.gif) no-repeat center top;}
